USE [DB_ChuyenTienNganHang]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 9/29/2026 2:59:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaChiNhanh] [varchar](10) NOT NULL,
	[TenChiNhanh] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichChuyenTien]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichChuyenTien](
	[MaGiaoDich] [varchar](30) NOT NULL,
	[MaTaiKhoanNguon] [varchar](20) NOT NULL,
	[MaTaiKhoanDich] [varchar](20) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[MaLoaiGD] [varchar](10) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanMucGiaoDịch]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanMucGiaoDịch](
	[MaHanMuc] [varchar](10) NOT NULL,
	[TenHanMuc] [nvarchar](50) NOT NULL,
	[HanMucNgay] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHanMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoCCCD] [varchar](12) NOT NULL,
	[SoDienThoai] [varchar](11) NOT NULL,
	[Email] [varchar](100) NULL,
	[TenDangNhap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_CCCD] UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_SDT] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaoDich] [varchar](30) NOT NULL,
	[SoTaiKhoanLienQuan] [varchar](15) NOT NULL,
	[HanhDong] [nvarchar](50) NOT NULL,
	[SoTienThayDoi] [decimal](18, 2) NOT NULL,
	[SoDuSauThayDoi] [decimal](18, 2) NOT NULL,
	[ThoiGianGhiLog] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiaoDich]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiaoDich](
	[MaLoaiGD] [varchar](10) NOT NULL,
	[TenLoaiGD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[MaChiNhanh] [varchar](10) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaikhoan] [char](1) NOT NULL,
	[SoDu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTaikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanDangNhap_VaiTro]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanDangNhap_VaiTro](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
	[MaNguoiDung] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNganHang]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNganHang](
	[MaTaiKhoan] [varchar](20) NOT NULL,
	[MaKhachHang] [varchar](20) NOT NULL,
	[SoTaiKhoan] [varchar](15) NOT NULL,
	[SoDu] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MaChiNhanh] [varchar](10) NOT NULL,
	[MaHanMuc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan_STK] UNIQUE NONCLUSTERED 
(
	[SoTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] ADD  CONSTRAINT [DF_GiaoDich_NgayGD]  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] ADD  DEFAULT (getdate()) FOR [ThoiGianGhiLog]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] ADD  CONSTRAINT [DF_TaiKhoan_SoDu]  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] ADD  CONSTRAINT [DF_TaiKhoan_TrangThai]  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_LoaiGD] FOREIGN KEY([MaLoaiGD])
REFERENCES [dbo].[LoaiGiaoDich] ([MaLoaiGD])
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] CHECK CONSTRAINT [FK_GiaoDich_LoaiGD]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_TaiKhoanDich] FOREIGN KEY([MaTaiKhoanDich])
REFERENCES [dbo].[TaiKhoanNganHang] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] CHECK CONSTRAINT [FK_GiaoDich_TaiKhoanDich]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_TaiKhoanNguon] FOREIGN KEY([MaTaiKhoanNguon])
REFERENCES [dbo].[TaiKhoanNganHang] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] CHECK CONSTRAINT [FK_GiaoDich_TaiKhoanNguon]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_DangNhap] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoanDangNhap_VaiTro] ([TenDangNhap])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_DangNhap]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_LichSuGD_GiaoDich] FOREIGN KEY([MaGiaoDich])
REFERENCES [dbo].[GiaoDichChuyenTien] ([MaGiaoDich])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK_LichSuGD_GiaoDich]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_DangNhap] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoanDangNhap_VaiTro] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_DangNhap]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_HanMuc] FOREIGN KEY([MaHanMuc])
REFERENCES [dbo].[HanMucGiaoDịch] ([MaHanMuc])
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [FK_TaiKhoan_HanMuc]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDich_SoTien] CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] CHECK CONSTRAINT [CK_GiaoDich_SoTien]
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDich_TrangThai] CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Thất bại' OR [TrangThai]=N'Thành công' OR [TrangThai]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[GiaoDichChuyenTien] CHECK CONSTRAINT [CK_GiaoDich_TrangThai]
GO
ALTER TABLE [dbo].[HanMucGiaoDịch]  WITH CHECK ADD  CONSTRAINT [CK_HanMuc_GiaTri] CHECK  (([HanMucNgay]>(0)))
GO
ALTER TABLE [dbo].[HanMucGiaoDịch] CHECK CONSTRAINT [CK_HanMuc_GiaTri]
GO
ALTER TABLE [dbo].[TaiKhoanDangNhap_VaiTro]  WITH CHECK ADD CHECK  (([RoleName]=N'Khách hàng' OR [RoleName]=N'Giao dịch viên' OR [RoleName]=N'Nhân viên CSKH' OR [RoleName]=N'Admin'))
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SoDu] CHECK  (([SoDu]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [CK_TaiKhoan_SoDu]
GO
/****** Object:  StoredProcedure [dbo].[SP_ThucHienChuyenTien]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 5. TẠO CÁC STORED PROCEDURES (THỦ TỤC LƯU TRỮ) KÈM TRANSACTION
-- SP 1: Chuyển tiền an toàn sử dụng Transaction (ACID)
CREATE PROCEDURE [dbo].[SP_ThucHienChuyenTien]
    @MaGiaoDich VARCHAR(30),
    @MaTaiKhoanNguon VARCHAR(20),
    @MaTaiKhoanDich VARCHAR(20),
    @SoTien DECIMAL(18, 2),
    @NoiDung NVARCHAR(255),
    @MaLoaiGD VARCHAR(10)
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Kiểm tra tài khoản nguồn
        IF NOT EXISTS (SELECT 1 FROM TaiKhoanNganHang WHERE MaTaiKhoan = @MaTaiKhoanNguon AND TrangThai = N'Hoạt động')
        BEGIN
            RAISERROR(N'Tài khoản nguồn không tồn tại hoặc đã bị khóa!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Kiểm tra tài khoản đích
        IF NOT EXISTS (SELECT 1 FROM TaiKhoanNganHang WHERE MaTaiKhoan = @MaTaiKhoanDich AND TrangThai = N'Hoạt động')
        BEGIN
            RAISERROR(N'Tài khoản đích không tồn tại hoặc đã bị khóa!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Kiểm tra số dư tài khoản nguồn
        DECLARE @SoDuHienTai DECIMAL(18, 2);
        SELECT @SoDuHienTai = SoDu FROM TaiKhoanNganHang WHERE MaTaiKhoan = @MaTaiKhoanNguon;

        IF @SoDuHienTai < @SoTien
        BEGIN
            RAISERROR(N'Số dư trong tài khoản nguồn không đủ để thực hiện giao dịch!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Trừ tiền nguồn & Cộng tiền đích
        UPDATE TaiKhoanNganHang SET SoDu = SoDu - @SoTien WHERE MaTaiKhoan = @MaTaiKhoanNguon;
        UPDATE TaiKhoanNganHang SET SoDu = SoDu + @SoTien WHERE MaTaiKhoan = @MaTaiKhoanDich;

        -- Thêm giao dịch (Trigger hạn mức sẽ kích hoạt tại đây)
        INSERT INTO GiaoDichChuyenTien (MaGiaoDich, MaTaiKhoanNguon, MaTaiKhoanDich, SoTien, NoiDung, MaLoaiGD, TrangThai)
        VALUES (@MaGiaoDich, @MaTaiKhoanNguon, @MaTaiKhoanDich, @SoTien, @NoiDung, @MaLoaiGD, N'Thành công');

        COMMIT TRANSACTION;
        PRINT N'Giao dịch chuyển tiền thành công!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TraCuuLichSuGiaoDich]    Script Date: 9/29/2026 3:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Tra cứu lịch sử giao dịch
CREATE PROCEDURE [dbo].[SP_TraCuuLichSuGiaoDich]
    @SoTaiKhoan VARCHAR(15)
AS
BEGIN
    SELECT 
        gd.MaGiaoDich,
        gd.SoTien,
        gd.NgayGiaoDich,
        gd.NoiDung,
        gd.TrangThai,
        gd.MaTaiKhoanNguon,
        gd.MaTaiKhoanDich
    FROM GiaoDichChuyenTien gd
    JOIN TaiKhoanNganHang tk ON gd.MaTaiKhoanNguon = tk.MaTaiKhoan
    WHERE tk.SoTaiKhoan = @SoTaiKhoan
    ORDER BY gd.NgayGiaoDich DESC;
END;
GO
